.SignUpForm {
  position: absolute;
  width: 80%;
  max-width: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.account {
  display: flex;
  font-size: 25px;
  text-align: center;
  gap: 10px;
  font-size: 22px;
  margin-top: 25px;
}
.account > p{
  margin: 0;
  padding: 0;
}
.loginButton {
  font-size: 18px;
  margin-top: 25px;
  border: none;
  border-radius: 5px;
  color: white;
  height: 45px;
  width: 350px;
  background-color: grey;
  width: 100%;
  box-sizing: border-box;
}
.loginButton:hover {
  cursor: pointer;
}
.registerLink {
  font-size: 22px;
  color: rgb(159 61 72);
  text-decoration: none;
}
.title {
  font-size: 4rem;
  text-align: center;
  margin: 0;
}
.formContainer {
  border: 1px solid black;
  margin: auto;
  padding: 50px;
  border-radius: 10px;
}
