.SignUpForm {
  margin-top: 150px;
  display: block;
  text-align: center;
  justify-content: center;
}
.account {
  display: flex;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  gap: 20px;
}
.loginButton {
  font-size: 18px;
  margin-top: 25px;
  border: none;
  border-radius: 5px;
  color: white;
  height: 45px;
  width: 350px;
  background-color: grey;
}
.loginButton:hover {
  cursor: pointer;
}
.button {
  font-size: 23px;
  margin-top: 25px;
  height: 30px;
  border: none;
  color: purple;
  background-color: white;
}
.button:hover {
  cursor: pointer;
}
.title {
  font-size: 4rem;
}
.formContainer {
  border: 1px solid black;
  margin: auto;
  height: 600px;
  width: 600px;
}
